@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

* {
  font-family: "Inter", sans-serif;
}

#root {
  /* overflow: hidden; */
  background-color: #efefef;
}

.custom-round-btn {
  width: 100px;
  height: 32px;
  font-size: 14px;
  font-weight: 500;
  color: white;
  text-align: center;
  border: none;
}

.main-heading {
  font-size: 28px;
  /* font-weight: 900; */
  font-weight: 700;
  /* font-family: "Inter", sans-serif; */
}

.custom-block-btn {
  font-size: 14px;
  font-weight: 500;
  /* padding-top: 10px;
  padding-bottom: 10px; */
  background-color: #00a991;
  border: none;
  height: 44px;
  width: 100%;
}

.custom-block-btn:hover {
  background-color: #028f7a;
}

.custom-danger-btn {
  font-size: 14px;
  font-weight: 500;
  /* padding-top: 10px;
  padding-bottom: 10px; */
  background-color: #d21c1c;
  border: none;
  height: 44px;
  width: 100%;
}

.last-heading {
  font-weight: 500;
  /* font-weight: 400; */
  font-size: 14px;
}

.card-heading {
  font-size: 16px;
  font-weight: 500;
}

.card-text {
  font-weight: 400;
  font-size: 14px;
}

/* text color classess */
.text-red {
  color: #d21c1c;
}

.text-yellow {
  color: #ffa800;
}

.text-blue {
  color: #0172cb;
}

.bg-lblue {
  background-color: #def0fc;
}

.bg-gray {
  background-color: #efefef;
}

.bg-cyan {
  background-color: #00a991;
}

.wrapper-layout {
  min-height: 100vh;
  background-color: #efefef;
}

.input-box {
  height: 44px;
  font-size: 14px;
}

.modal-btn-blue {
  /* border-radius: 6px; */
  border: none;
}

.modal-btn-light {
  /* border-radius: 6px; */
  border: none;
}
.modal-btn-light:hover {
  /* border-radius: 6px; */
  background-color: #def0fc;
  color: #0172cb;
}

/* media queries */

@media screen and (min-width: 350px) {
  .modal-btn-blue {
    font-size: 14px;
  }

  .modal-btn-light {
    font-size: 14px;
  }
}
